html {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

#outmost-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px blue solid; */
  height: 100vh;
  width: 100vw;
}

h2 {
  margin: 10px;
  /* border: 1px blue solid; */
}

#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 90vh;
  width: 90vw;
  /* border: 1px red solid; */
  /* position: relative; */
}

#navigation a {
  margin: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ffd700;
  /* background-color: #8b0000; */
  padding-left: 30px;
  padding-right: 30px;
}

#navigation a:hover {
  color: white;
}

#headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* border: 1px green solid; */
  margin: 30px;
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px green solid; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#password-modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  /* border: red 2px solid; */
}

form #modalPasswordInput {
  width: 200px;
  height: 30px;
  /* border: red 2px solid; */
}

form #modalButton {
  width: 80px;
  height: 35px;
  /* border: red 2px solid; */
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}

#content h1 {
  text-align: center;
}

#monse-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Adjust as needed */
  padding-top: 100px;
}

#monse-links div {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

#monse-links div img {
  cursor: pointer;
}

#letter img {
  height: 140px;
  width: 210px;
}

#photo img {
  height: 150px;
  width: 120px;
}
