html {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

#outmost-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px blue solid; */
  height: 100vh;
  width: 100vw;
}

h1 {
  margin-top: 50px;
  margin-bottom: -30px;
}

h2 {
  margin: 10px;
  /* border: 1px blue solid; */
}

#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 90vh;
  width: 90vw;
  /* border: 1px red solid; */
  /* position: relative; */
}

#navigation a {
  margin: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ffd700;
  /* background-color: #8b0000; */
  padding-left: 30px;
  padding-right: 30px;
}

#navigation a:hover {
  color: white;
}

#headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* border: 1px green solid; */
  margin: 30px;
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px green solid; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#password-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  position: absolute;
  top: 300px;
  right: 530px;
}

form #modalPasswordInput {
  width: 200px;
  height: 30px;
  /* border: red 2px solid; */
}

form #modalButton {
  width: 80px;
  height: 35px;
  /* border: red 2px solid; */
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}

#content h1 {
  text-align: center;
}

#monse-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Adjust as needed */
  padding-top: 100px;
}

#monse-links div {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

#monse-links div img {
  cursor: pointer;
}

#letter img {
  height: 140px;
  width: 210px;
}

#photo img {
  height: 150px;
  width: 120px;
}

#gifs img {
  margin-top: -20px;
}

.container {
  display: inline-block;
  margin-left: 550px;
}

.text {
  font-size: 25px;
  /* font-family: monospace; */
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(18), cursor 0.4s step-end alternate;
}

/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/* typing animation */
@keyframes typing {
  from {
    width: 0;
  }
}
