@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Sofia+Sans+Condensed:wght@500&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Sofia Sans Condensed", sans-serif;
}

h1 {
  font-size: 70px;
  margin: 0;
}

#table-of-contents {
  position: fixed;
  text-decoration: none;
  transform: translate(1200px, 530px);
  /* border: 2px solid red; */
  z-index: 1;
}

#table-of-contents li {
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}

#table-of-contents a {
  text-decoration: none;
  /* color: black; */
  color: #00256c;
  font-size: large;
  font-weight: bold;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/w9.jpg") no-repeat center center/cover;
  transform: scaleX(-1);
  z-index: -1;
}

.top-section-content {
  margin-left: 50px;
  margin-top: 100px;
  max-width: 750px;
  color: white;
  z-index: -1;
  position: absolute;
  /* border: 2px solid white; */
}

.top-section-content p {
  font-size: 25px;
}

.content section {
  min-height: 100vh;
  padding: 50px;
}

.content section.overlay {
  background: rgba(255, 255, 255, 0.9);
  background: #faf9f6;
  padding: 50px;
}

section.about-me {
  height: 500px;
}

#about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}

#about-me-content div {
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
}
